<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>wellcome to parser any file to pdf</h1>
    <!-- {{text}} -->
    {{doc_text}}
    <!-- {{textX}} -->

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="file" />
      <button type="submit">Upload</button>
    </form>
    <div>
      <h2>cleaned_text</h2>
      <p>{{ entities }}</p>

      <!-- <h2>Extracted Entities</h2>
      <p><strong>Name:</strong> {{ entities.name }}</p>
      <p><strong>Email:</strong> {{ entities.contact_info.email }}</p>
      <p><strong>Phone:</strong> {{ entities.contact_info.phone }}</p>
      <p><strong>Education:</strong> {{ entities.education }}</p>
      <p><strong>Work Experience:</strong> {{ entities.work_experience }}</p>
      <p><strong>Skills:</strong> {{ entities.skills }}</p>
      <p><strong>Certifications:</strong> {{ entities.certifications }}</p> -->
    </div>
  </body>
</html>
